.host-restaurants {
  height: 100vh;
  width: calc(100vw - 200px);
  margin: 0 100px;
  padding: 10px 20px 0;
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;

  &_contents {
    height: 600px;
    width: 600px;
    margin-top: 90px;
    float: left;

    h3 {
      font-size: 27px;
      line-height: 36px;
      color: #484848;
      margin: 0;
      padding-bottom: 20px;
    }

    .js-apply {
      height: 38px;
      width: 300px;
      background-color: #ff7e82;
      margin-bottom: 20px;
      border: #ff7e82;
      border-radius: 5px;
      text-align: center;
      font-size: 18px;
      color: #ffffff;
      text-decoration: none;
    }

    &_hosting {
      height: 300px;
      width: 1050px;
      margin-top: 0px;
      margin-bottom: 40px;
      overflow: scroll;

      .restaurants-info {

        img {
          height: 90px;
          width: 120px;
          padding-right: 10px;
        }
      }
    }
  }

  &_result {

    #restaurantBtn {
      height: 38px;
      width: 300px;
      background-color: #ff7e82;
      margin-bottom: 20px;
      border: #ff7e82;
      border-radius: 5px;
      text-align: center;
      font-size: 18px;
      color: #ffffff;
      text-decoration: none;
    }

    img {
      height: 90px;
      width: 120px;
      padding-left: 18px;
      padding-right: 10px;
    }
  }

  &_btn {
    margin-bottom: 100px;

    .back-page {
      margin-top: 60px;
      font-size: 20px;
      color: #aaa;
      text-decoration: none;
      margin-top: 50px;
    }

    .next-page {
      height: 58px;
      width: 140px;
      background-color: #ff7e82;
      border: #ff7e82;
      border-radius: 5px;
      text-align: center;
      margin-top: 100px;
      margin-left: 190px;
      padding-top: 6px;
      font-size: 18px;
      color: #ffffff;
      text-decoration: none;
    }
  }
}
