%body
  .header-room
    .header-room_top
      .header-room_top_logo
        .header-room_top_logo_airbnb
          = link_to root_path do
            = image_tag "logo2.png"
      .header-room_top_step ステップ5: 近隣レストラン情報を入力
  .host-restaurants
    .host-restaurants_contents
      %h3 オススメのレストランを選択してください
      %input.js-apply{:type => "button", :value => "近隣レストラン情報を表示"}/
      .host-restaurants_contents_hosting
        .restaurants-info
      .host-restaurants_result
