#log-in-btn {
  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  color: #ff5a5f;
  margin-left: 23px;
  padding: 10px 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  text-decoration: none;
}
