.room-booking {
  height: 800px;
  width: 1280px;
  overflow: hidden;

  &_content {
    height: 2000px;
    width: 1080px;
    margin: auto 100px;
    color: #808080;

    &_left-content {
      height: 800px;
      width: 600px;
      font-size: 20px;
      float: left;

      &_payment {
        font-size: 26px;
        margin-top: 100px;
        padding-bottom: 20px;
        padding-left: 20px;
        border-bottom: 1px solid #dcdcdc;
      }

      &_cash-back-1 {
        padding-top: 20px;
        padding-left: 20px;
      }

      &_cash-back-2 {
        padding-top: 5px;
        padding-left: 20px;
      }

      &_country {
        padding-top: 25px;
        padding-left: 20px;
      }

      &_card-info {
        padding-top: 20px;
        padding-left: 20px;
      }

      &_card-expiration-date {
        font-size: 16px;
        padding-top: 5px;
        padding-left: 22px;
      }

      &_card-house-rules {
        padding-top: 50px;
        padding-left: 20px;
      }

      .select-default {
        position: relative;
        z-index: 2;
        height: 48px;
        width: 250px;
        padding: 0 16px;
        margin-left: 20px;
        margin-right: 200px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: 0;
        font-size: 16px;
        line-height: 1.5;
        cursor: pointer;
      }

      .next-page {
        height: 58px;
        width: 200px;
        background-color: #ff7e82;
        border: #ff7e82;
        border-radius: 5px;
        text-align: center;
        margin-top: 20px;
        margin-left: 190px;
        padding-top: 6px;
        font-size: 18px;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &_booking {
      height: 650px;
      width: 388px;
      margin-top: 100px;
      margin-left: 65px;
      border: 1px solid #dcdcdc;
      float: left;

      img {
        height: 182px;
        width: 388px;
      }

      &-info {
        padding: 30px 25px;

        &-name {
          font-size: 26px;
          color: #000000;
          text-align: center;
          padding-top: 10px;
          padding-bottom: 35px;
        }

        &-category {
          padding-left: 5px;
        }

        &-location {
          padding-left: 5px;
          padding-bottom: 20px;
          border-bottom: 1px solid #dcdcdc;
        }

        &-check-in {
          padding: 25px 0 25px 15px;
          float: left;
        }

        &-check-out {
          padding: 25px 15px 25px 0;
          float: right;
        }

        p {
          margin: 0;
          padding: 0;
        }

        &-price {
          padding-top: 25px;
          border-top: 1px solid #dcdcdc;
          clear: both;

          &-total {
            padding: 25px 0 25px 15px;
            float: left;
          }

          &-price {
            padding: 25px 15px 25px 0;
            float: right;
          }
        }
      }
    }
  }
}
